<!------------------------------------------------------------------------------>
<!--templates/index.html: the main sign in / sign up web page                 -->
<!-- (TODO: use flask templates more appropriately)                           -->
<!------------------------------------------------------------------------------>

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Index page</title>
    <meta name="description" content="Index page">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <!--generated via https://www.favicon.cc/-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body>
    <!--<script src="js/scripts.js"></script>-->
    <p class='form-context1'>Register or sign up by entering a username and password.</p>
    <p class='form-context2'>(if the user specified is found, will look up and display their information)</p>    

{% if error %}
    <p class="error-block">Error: {{ error }}</p>
{% endif %}

    <div class='form-login-container'>
        <form action="/" method="post">
            <br>
            <div>
                <span class='txt-input-lbl'>Username: </span>
                <input class='txt-input' type="text" name="username" value="{{request.form.username}}"></input>
            </div>
            <br>
            <div>
                <span class='txt-input-lbl'>Password: </span>
                <input class='txt-input' type="password" name="password" value="{{request.form.password}}"></input>
            </div>
            <br>
            <input class='submit-btn' type="submit" value="Sign In (or Sign up)"></input>
            <br><br>
        </form>
    </div>

</body>
</html>
