<!------------------------------------------------------------------------------>
<!--templates/register.html: the page to finish filling out new user info     -->
<!------------------------------------------------------------------------------>

<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Registration page</title>
    <meta name="description" content="Registration page">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
    <!--<script src="js/scripts.js"></script>-->
    <p class='form-context1'>No such user detected. Finish this form to create a new user!</p>

{% if error %}
    <p class="error-block">Error: {{ error }}</p>
{% endif %}

    <div class='form-login-container'>
        <form action="/register" method="post">
            <br>
            <span>
                <span class='txt-input-lbl'>First Name: </span>
                <input type="text" name="firstname" value="{{request.form.firstname}}"></input>
            </span>
            <br>
            <span>
                <span class='txt-input-lbl'>Last Name: </span>
                <input type="text" name="lastname" value="{{request.form.lastname}}"></input>
            </span>
            <br>
            <span>
                <span class='txt-input-lbl'>Email: </span>
                <input type="text" name="email" value="{{request.form.email}}"></input>
            </span>
            <br><br>
            <input type="submit" value="Register"></input>
            <br><br>
        </form>
    </div>
</body>
</html>
